@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@1,500&display=swap');

:root {
  font-family: 'Montserrat', sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(217deg, rgba(142,228,175,.8), rgba(142,228,175,0) 70.71%),
              linear-gradient(80deg, rgba(0, 179, 255, 0.8), rgba(0, 115, 255, 0) 70.71%),
              linear-gradient(336deg, rgba(0, 255, 213, 0.842), rgba(64, 0, 255, 0) 70.71%);
}

h1 {
  color: #FFC27F;
  letter-spacing: .4rem !important;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6, button {
  letter-spacing: .2rem !important;
}

h5, h6, h3, h2, p, span, button, label {
  font-family: 'Montserrat', sans-serif !important;
}

h5 {
  margin-bottom: 0;
}

.paper {
  max-width: 1280px !important;
  background-color: #05386B !important;
  min-width: 40vw !important;
  border-radius: 9px !important;
  margin: 3 auto !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  border-radius: 9px !important;
  background-color: #05386B !important;
}

.css-ohyacs {
  border-radius: 9px !important;
  background-color: #05386B !important;
}

.dialog-title, 
.dialog-content, 
.dialog-actions, 
.checkbox-text, 
.checkbox, 
.delete, 
.dialog-text, 
.cancel {
  color: #FFC27F !important;
}

.dialog-actions {
  display: flex !important;
  justify-content: space-evenly !important;
}

ul {
  background-color: #05386B !important;
}

.recent-urls {
  box-shadow: none !important;
  max-width: 32vw !important;
}

.MuiToolbar-root {
  justify-content: space-between;
}

/* Show the desktop menu on larger screens */
.desktopMenu {
  display: flex;
}

/* Hide the desktop menu on smaller screens */
@media screen and (max-width: 899px) {
  .desktopMenu {
    display: none;
  }

  .dialog-actions {
    flex-direction: column-reverse !important;
    align-items: center;
  }
}