@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@1,500&display=swap');

:root {
  font-family: 'Montserrat', sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #379683;
}

h1 {
  color: #8EE4AF;
}

.MuiPaper-root {
  background-color: #05386B !important;
}

.recent-urls {
  background-color: #05386B !important;
  box-shadow: none !important;
}

.MuiToolbar-root {
  justify-content: space-between;
}

/* Show the desktop menu on larger screens */
.desktopMenu {
  display: flex;
}

/* Hide the desktop menu on smaller screens */
@media screen and (max-width: 899px) {
  .desktopMenu {
    display: none;
  }
}